@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Fira Sans", serif; */
*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}
body{
    background-color: #F1F1F3;
}
/* header style */
/* nav ber style */
.nav-ber{

width: 1000px;

display: flex;

justify-content: space-between;

margin: 0 auto;

padding: 15px 0px;
}
.nav-ber h4{
    font-size: 22px;
    font-weight: 700;
    color: #0E0E0E;
}
.nav-ber button{font-size: 14px;font-weight: 600;color: #006A50;border: 1px #006A50 solid;padding: 9px 20px;border-radius: 5px;}

/* banner style */
.banner-section{
    width: 1000px;
    height: 400px;
    background-color: #C6E4D6;
    border-radius: 16px;
    margin: 0 auto;
}

.header-baner{

display: flex;

justify-content: space-between;

align-items: center;

padding: 50px;
}
.banner-description-ber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: flex-start;
}
.banner-title{
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    color: #0E0E0E80;
}
.banner-description{
    font-size: 37px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    width: 78%;
    color: #0E0E0E;
}
.banner-btn{
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    background: #006A50;
    color: #FFFFFF;
    font-size: 14px;
}

.banner-img img{

width: 360px;
}

/* future section style */
.future-section{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.future-description-ber{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 988px;
}
.future-title{
    font-size: 28px;
    font-weight: 700;
    color: #0E0E0E;
}
.future-description{
    font-size: 12.5px;
    font-weight: 400;
    color: #0E0E0EB2;
    line-height: 18px;
}
.future-card-ber{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    }
.future-card-one{
    background: #5492f545;
    padding: 24px;
    width: 32%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    height: 200px;
    gap: 20px;
}
.future-card-two{
    background: #C6E4D6;
    padding: 24px;
    border-radius: 10px;
    width: 32%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.future-card-three{
    background: #F7EBCF;
    padding: 24px;
    border-radius: 10px;
    width: 32%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.future-card-icon img{
    width: 45px;
    height: 45px;
}
.future-card-description-ber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.future-card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
    font-size: 15px;
}
.future-card-description{
    font-size: 12.5px;
    font-weight: 400;
    color: #0E0E0EB2;
    line-height: 18px;
}
.future-btn-one{    
    width: 85px;    
    height: 30px;    
    padding: 6px 13px 6px 13px;    
    gap: 32px;
    border-radius: 5px;    
    background: #5490F5;   
    border: none;    
    font-size: 11px;    
    font-weight: 600;    
    color: #FFFFFF;
}
.future-btn-two{    
    width: 85px;    
    height: 30px;    
    padding: 6px 13px 6px 13px;    
    gap: 32px;
    border-radius: 5px;    
    background: #09A15C;   
    border: none;    
    font-size: 11px;    
    font-weight: 600;    
    color: #FFFFFF;
}
.future-btn-three{    
    width: 85px;    
    height: 30px;    
    padding: 6px 13px 6px 13px;    
    gap: 32px;
    border-radius: 5px;    
    background: #FFC239;   
    border: none;    
    font-size: 11px;    
    font-weight: 600;    
    color: #FFFFFF;
}
.future-btwn-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.future-footer-descripton-ber{
    background: #FFFFFF;
    width: 1000px;
    border-radius: 10px;
    border: 1px solid #0E0E0E26;
}
.future-footer-description{
    background: url('quote-bg.png');
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: 20px 20px, top left;
    padding: 30px 20px;
}
.future-footer-prgp{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    color: #0e0e0eb0;
}
.future-footer-title{
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

/* news section stylee css */

.news-section{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.news-section-ber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 1000px;
}
.news-title-ber{

display: flex;

flex-direction: column;

justify-content: center;

align-items: flex-start;

gap: 20px;
}
.news-title{
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    color: #0E0E0E;

}
.news-description{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #0e0e0ea6;
}
.news-banner-design{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 35px;
    border: 1px solid #0e0e0e14;
    background: #FFFFFF;
    border-radius: 10px;
}
.news-banner-design-revert{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 35px;
    border: 1px solid #0e0e0e14;
    background: #FFFFFF;
    border-radius: 10px;
}
.news-banner-img{
}

.news-banner-img img{
    width: 280px;
    height: 215px;
    border-radius: 15px;
}

.news-banner-description-ber{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}
.news-banner-title{
    font-size: 21.5px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #0E0E0ECC;
}
.news-banner-logo{

}
.news-banner-logo img{
    
height: 28px;
    
width: 90px;
}
.news-upload-time{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: #0e0e0ea6;
}
.news-upload-date{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: #0E0E0EB2;
}
.news-upload-time{
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: center;
}
.news-banner-title-ber{

display: flex;

flex-direction: column;

justify-content: center;

align-items: start;

gap: 7px;
}
.news-banner-description{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #0E0E0EB2;
}
.news-banner-btn{
    border: none;
    border-radius: 5px;
    background: #006A50;
    color: #FFFFFF;
    font-size: 11px;
    padding: 6px 13px;
    height: 30px;
    width: 85px;
}
/* donate section style */
.donate-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
}
.donate-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.donate-tk{
    font-size: 28px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: #0E0E0E;
}
.donate-sub-title{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #0e0e0e9c;
    width: 88%;
}
.donate-title{
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    color: #0E0E0E;
}

.donate-done{
    font-size: 12.5px;
    font-weight: 600;
    line-height: 18.6px;
    text-align: left;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #0E0E0E1A;
}
.donate-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.donate-text{
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #0E0E0E26;
    width: 400%;
}
.donate-amount{
    background: #FFFFFF;
    padding: 15px 38px;
    border-radius: 10px;
    border: 1px solid #0e0e0e3b;
}
.donate-pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.donet-extra-design{
    background-color: #C6E4D6;
}
