@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Fira Sans", serif; */
*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}
body{
}
/* header style */


/* banner style */
.banner{
    width: 890px;
    height: 400px;
    background-color: #C6E4D6;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.banner-description-ber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: flex-start;
}
.banner-title{
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    color: #0E0E0E80;
}
.banner-description{
    font-size: 37px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    width: 78%;
    color: #0E0E0E;
}
.banner-btn{
    width: 180px;
    height: 38;
    padding: 12px 5px 12px 5px;
    border: none;
    border-radius: 6px;
    background: #006A50;
    color: #FFFFFF;
    font-size: 14px;
}

.banner-img img{

max-width: 370px;
}

/* future section style */
.future-section{
    width: 990px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    gap: 24px;
    justify-content: flex-start;
}
.future-description-ber{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.future-title{
    font-size: 27px;
    font-weight: 700;
    color: #0E0E0E;
}
.future-description{
    font-size: 12.5px;
    font-weight: 400;
    color: #0E0E0EB2;
    line-height: 18px;
}
.future-card-ber{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 990px;
    }
.future-card-one{
    background: #5492f545;
    padding: 25px;
    border-radius: 10px;
    width: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 200;
    gap: 20px;
}
.future-card-two{
    background: #C6E4D6;
    padding: 25px;
    border-radius: 10px;
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.future-card-three{
    background: #F7EBCF;
    padding: 25px;
    border-radius: 10px;
    width: 260px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.future-card-icon img{
    width: 45px;
    height: 45px;
}
.future-card-description-ber{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.future-card-title{
    font-size: 16px;
    color: #0E0E0ECC;
}
.future-card-description{
    font-size: 12px;
    font-weight: 400;
    color: #0E0E0EB2;
    line-height: 18px;
}
.future-btn-one{    
    width: 85px;    
    height: 30px;    
    padding: 6px 13px 6px 13px;    
    gap: 32px;
    border-radius: 5px;    
    background: #5490F5;   
    border: none;    
    font-size: 11px;    
    font-weight: 600;    
    color: #FFFFFF;
}
.future-btn-two{    
    width: 85px;    
    height: 30px;    
    padding: 6px 13px 6px 13px;    
    gap: 32px;
    border-radius: 5px;    
    background: #09A15C;   
    border: none;    
    font-size: 11px;    
    font-weight: 600;    
    color: #FFFFFF;
}
.future-btn-three{    
    width: 85px;    
    height: 30px;    
    padding: 6px 13px 6px 13px;    
    gap: 32px;
    border-radius: 5px;    
    background: #FFC239;   
    border: none;    
    font-size: 11px;    
    font-weight: 600;    
    color: #FFFFFF;
}